.total{
  font-size: 200% !important;
}

.event_message{
  font-size: 130% !important;
}

.textarea{
  font-size: 200% !important;
}

.confirm {
  font-size: 200% !important;
}

.confirm_action {
  font-size: 150% !important;
}

.v-toolbar__content {
  padding: 4px !important;
}

.v-event {
  height: 50px !important;
  left: 5px !important;
  top: 1% !important;
}

.v-calendar-weekly__day:hover{
  cursor:pointer !important;
}

.v-event-more{
  left: 5% !important;
}

.v-calendar-weekly__day:hover{
  cursor:pointer !important;
}

.v-calendar-weekly__day-label .v-btn__content{
  font-size: 150% !important;
}

